on boot
    # FunctionsFS
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    setprop sys.usb.ffs.aio_compat 1
    setprop persist.adb.nonblocking_ffs 0
    setprop ro.adb.nonblocking_ffs 0

on property:sys.usb.config=none
    stop adbd
    stop hdbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/devices/virtual/android_usb/android0/port_mode 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=manufacture,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 105c
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/f_hw_acm/hw_instances 3
    write /sys/class/android_usb/android0/functions hw_acm,mass_storage,adb,hdb
    write /sys/devices/virtual/android_usb/android0/port_mode 14
    write /sys/class/android_usb/android0/enable 1
    start adbd
    start hdbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1037
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/luns sdcard
    write /sys/class/android_usb/f_mass_storage/lun/file none
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/devices/virtual/android_usb/android0/port_mode 7
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
