on init
    chown root root /sec_storage
    chmod 600 /sec_storage

service teecd /sbin/teecd
    socket tee-multi-user stream 660 root system
    class core
    user root
    group root
    seclabel u:r:tee:s0
